name: Java CI with Maven 

on:
  push:
    branches: [ "master" ]
  pull_request: # sรณ para pull
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 22
      uses: actions/setup-java@v4
      with:
        java-version: '22'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B package -DskipTests --file pom.xml
# Render Deploy Action 
    - name: Render Deploy Action0
      uses: johnbeynon/render-deploy-action@v0.0.8
      with:
        service-id: ${KEY}
        api-key: rnd_SLBw9GDEL1ePvt1a9ADf7p44kMp3
